.table-view .column-header {
    -fx-size: 20;
    -fx-text-alignment: center;
}


/* row hover */
.table-row-cell:hover {
    -fx-font-weight:bold;
}

/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-font-weight:bold;
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
    -fx-font-weight:bold;
}

.table-view .cell .table-cell{
  -fx-border-color: transparent;
  -fx-text-fill: rgb(0, 0, 0);
  -fx-alignment: CENTER;
  -fx-font-size:14px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
